.navbar {
  background-color: #222;
  color: white;
  display: flex;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: right;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.navbar ul {
  margin: 0;
  padding-left: 0;
}

.nav-links {
  width: 130px;
  position: relative;
  display: block;
  list-style: none;
}

.nav-links li {
  padding: 10px 10px 10px 10px;
}

.nav-links :hover {
  background: #428bca;
  color: #eeeeee;
}

.nav-link-active {
  background: #428bca;
  color: #eeeeee !important;
}
